beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
Django==2.2.6
idna==3.3
lxml==4.9.1
peewee==3.14.10
pytz==2022.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlite-orm==0.0.2b0
sqlparse==0.4.2
urllib3==1.26.9
xlwt==1.3.0
